In [178]:
import numpy as np
import pandas as pd

In [216]:
df=pd.DataFrame()

In [217]:
df['country']=['a','b','c','a','e','f','a','a','a','a']
df['state']=['a','c','c','d','c','f','c','c','c','c']
df['district']=['a','b','b','d','e','f','e','e','e','e']
df['output']=[0,0,0,1,1,1,0,1,0,1]

In [218]:
df

  country state district  output
0       a     a        a       0
1       b     c        b       0
2       c     c        b       0
3       a     d        d       1
4       e     c        e       1
5       f     f        f       1
6       a     c        e       0
7       a     c        e       1
8       a     c        e       0
9       a     c        e       1

In [219]:
len(df['country'].value_counts())

5

In [220]:
def rep(df):
    categorical_columns=df.select_dtypes(include='object')
    for i in (categorical_columns):
        distinct_categories=list(set(df[i]))
        distinct_categories.sort()
        print(distinct_categories)
        df[f'(0){i}']=df[i]
        df[f'(1){i}']=df[i]
        #print(df)
        for j in distinct_categories:
            count_0=len(df[(df[i]==j)&(df['output']==0)])
            count_1=len(df[(df[i]==j)&(df['output']==1)])
            index_0=df[(df[f'(0){i}']==j)].index.values
            df.set_value(index_0,f'(0){i}',(count_0/(count_0+count_1)))
            df.set_value(index_0,f'(1){i}',(count_1/(count_0+count_1)))
            
        df.drop(i,1,inplace=True)
    print(df)
            
rep(df)

['a', 'b', 'c', 'e', 'f']
['a', 'c', 'd', 'f']
['a', 'b', 'd', 'e', 'f']
   output (0)country (1)country  (0)state  (1)state (0)district (1)district
0       0        0.5        0.5         1         0           1           0
1       0          1          0  0.571429  0.428571           1           0
2       0          1          0  0.571429  0.428571           1           0
3       1        0.5        0.5         0         1           0           1
4       1          0          1  0.571429  0.428571         0.4         0.6
5       1          0          1         0         1           0           1
6       0        0.5        0.5  0.571429  0.428571         0.4         0.6
7       1        0.5        0.5  0.571429  0.428571         0.4         0.6
8       0        0.5        0.5  0.571429  0.428571         0.4         0.6
9       1        0.5        0.5  0.571429  0.428571         0.4         0.6

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app