In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('SMSSpamCollection.csv')
df.head()

  Class                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['Class'].value_counts()

ham     4825
spam     747
Name: Class, dtype: int64

In [7]:
df['Class'].replace({'ham':0,'spam':1},inplace=True)
df

      Class                                                sms
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0               Will ü b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [40]:
y=df['Class']
x=df['sms']

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
vect=CountVectorizer(stop_words='english')

In [43]:
vect.fit(x_train)

x_train_tr=vect.transform(x_train)
x_test_tr=vect.transform(x_test)

In [45]:
x_train_tr[565]

<1x6904 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [46]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,roc_auc_score

bnb=BernoulliNB()

bnb.fit(x_train_tr,y_train)
y_pred=bnb.predict(x_test_tr)
y_prob=bnb.predict_proba(x_test_tr)[:,1]

print('Accuracy on Test set', accuracy_score(y_test,y_pred))

print('Accuracy on Test set', roc_auc_score(y_test,y_prob))

Accuracy on Test set 0.9730861244019139
Accuracy on Test set 0.9963155038292226

In [34]:
y_train.shape

(3900,)