In [1]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## LA LIGA

In [3]:
liga = pd.read_csv('Laliga.csv')

In [4]:
liga.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [5]:
liga = liga.rename(columns=liga.iloc[0]).drop(liga.index[0])

In [6]:
liga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [7]:
liga['Since/LastApp'] = liga['Since/LastApp'].apply(lambda d:int(d[-2:]))

## 1.Which are the teams which started playing between 1930-1980?

In [9]:
liga[(liga['Since/LastApp']>30)&(liga['Since/LastApp']<80)]['Team']

42          Pontevedra
45              Arenas
50            Alcoyano
51                Jaen
52          Real Union
54              Europa
58              Condal
59     Atletico Tetuan
60    Cultural Leonesa
Name: Team, dtype: object

# 2.	Which are the top 5 teams in terms of points?

In [11]:
liga['Points'] = liga['Points'].replace({'-':0})
liga['Points'] = liga['Points'].apply(lambda d: int(d))

In [12]:
liga.sort_values(by='Points',ascending=False).head(5)['Team']

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

## 3.	What is the distribution of the winning percentage for all teams? Which teams are in the top 5 in terms of winning percentage? (Winning percentage= (GamesWon / GamesPlayed)*100)

In [14]:
liga['Perc'] = (liga['GamesWon'].replace({'-':0}).astype(int)/liga['GamesPlayed'].replace({'-':0}).astype(int))*100

In [15]:
liga.sort_values(by='Perc',ascending=False).head(5)['Team']

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

## 4.Is there a significant difference in the winning percentage for teams which have attained a best position between 1-3 and those teams which have had a best position between 4-7.

In [17]:
liga['BestPosition'] = liga['BestPosition'].astype(int)

In [18]:
onetothree = np.array(liga[(liga['BestPosition']>0)&(liga['BestPosition']<4)]['Perc'])

In [19]:
threetoseven = np.array(liga[(liga['BestPosition']>3)&(liga['BestPosition']<8)]['Perc'])

In [20]:
from    scipy.stats             import  ttest_1samp,ttest_ind, wilcoxon, ttest_ind_from_stats
import  scipy.stats             as      stats  
from    statsmodels.stats.power import  ttest_power
import  matplotlib.pyplot       as      plt

In [21]:
t_statistic, p_value  =  stats.ttest_ind(onetothree,threetoseven)
print('P Value %1.7f' % p_value)

P Value 0.0000154

In [23]:
###

# a)Calculate the estimated standard error of the sample mean? What does the standard error indicate?

In [26]:
n = 200
mu = 140
sigma = 25
se = sigma/np.sqrt(n)
print(se)

1.7677669529663687

# b)Estimate a 95% confidence interval for the true mean blood pressure for all 60-year old women with glaucoma.

In [29]:
ci=0.95
LCI, UCI = stats.norm.interval(ci, loc = mu, scale = se) 
print("Lower and upper confidence intervals are:",LCI,UCI)

Lower and upper confidence intervals are: 136.5352404391258 143.4647595608742

# c)Assume that instead of 200, a random sample of only 100 60-year old women with glaucoma was chosen. The sample mean and standard deviation estimates are the same as those in the original study. What is the estimated 95% confidence interval for the true mean blood pressure?

In [31]:
n1 = 100
se1 = sigma/np.sqrt(n1)
LCI1, UCI1 = stats.norm.interval(ci,loc=mu,scale = se1)
print("Lower and upper confidence intervals are:",LCI1, UCI1)

Lower and upper confidence intervals are: 135.10009003864985 144.89990996135015

# d)Which of the two above intervals are wider?

In [33]:
print(UCI-LCI,UCI1-LCI1)

6.929519121748399 9.799819922700294

## GOLF

In [38]:
golf = pd.read_csv('Golf.csv')

In [43]:
golf.shape[0]

40

In [44]:
golf.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

# 2.Analyze the data to provide the hypothesis testing conclusion. What is the p-value for your test? What is your recommendation for Par Inc.?

In [47]:
current = np.array(golf['Current'])
new = np.array(golf['New'])

In [49]:
stats.f_oneway(current,new)

F_onewayResult(statistic=1.7645445231511574, pvalue=0.18793228491854264)

In [50]:
golf1 = pd.DataFrame()

df1            = pd.DataFrame({'BallType': 'Current', 'Distance':current})
df2            = pd.DataFrame({'BallType': 'New', 'Distance':new})

golf1 = golf1.append(df1) 
golf1 = golf1.append(df2)

In [51]:
golf1

   BallType  Distance
0   Current       264
1   Current       261
2   Current       267
3   Current       272
4   Current       258
..      ...       ...
35      New       263
36      New       261
37      New       255
38      New       263
39      New       279

[80 rows x 2 columns]

In [55]:
stats.f_oneway(current,new)

F_onewayResult(statistic=1.7645445231511574, pvalue=0.18793228491854264)

# 3.What is the 95% confidence interval for the population mean of each model, and what is the 95% confidence interval for the difference between the means of the two population?

In [56]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
print(pairwise_tukeyhsd(golf1['Distance'],golf1['BallType'],alpha=0.05))

Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
 group1 group2 meandiff p-adj  lower  upper reject
--------------------------------------------------
Current    New   -2.775 0.1879 -6.934 1.384  False
--------------------------------------------------

In [60]:
mu1 = current.mean()
mu2 = new.mean()
sigma1 = current.std()/np.sqrt(40)
sigma2 = new.std()/np.sqrt(40)
ci = 0.95
LCI1, UCI1 = stats.norm.interval(ci, loc = mu1, scale = sigma1)
LCI2, UCI2 = stats.norm.interval(ci, loc = mu2, scale = sigma2)
print("95% Confidence intervals for Current are:",LCI1,UCI1)
print("95% Confidence intervals for New are:",LCI2,UCI2)

95% Confidence intervals for Current are: 267.596592950119 272.953407049881
95% Confidence intervals for New are: 264.4715543699107 270.5284456300893